head {
    text-align: center;
}

body {
    text-align: center;
}

.color {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.reloadButton {
    display: block;
    margin: 20px auto;
}
