#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}
button {
  border-radius: 8px;
  border: 1px solid #213547;
  border-color: #213547;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5f5f4;
  cursor: pointer;
  transition: border-color 0.25s;
  stroke: #213547;
}